*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;;
}


:root{
    --red:#e50913;
    --white:#ffff;
    --blue:#0071eb;
}
.header__banner{
    display: flex;
    min-height: 4rem;
    background-color:var(--white);
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

@media (min-width: 411px) and (max-width: 480px){
    .header__banner{
        padding: 0 1rem;
    }
}

.header__banner__announcement{
    background-color: var(--red);
    border-radius: 17px;
    color: var(--white);
    margin: .5rem 1rem;
    padding: .2rem .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: .8rem;
}


@media (min-width: 280px) and (max-width: 500px){
    .header__banner__announcement{
        font-size: 0.6rem;
        margin: 0.5rem 0.7rem;
        padding: 0.3rem 0.5rem;
    }
}


.header__banner__announcement__text{
    font-size: 1.1rem ;
}

@media (min-width: 375px) and (max-width: 410px){
    .header__banner__announcement__text{
        padding-left: .3rem;
    }
}

@media (min-width: 280px) and (max-width: 500px){
    .header__banner__announcement__text{
        display: flex;
        flex-shrink: 6;
        font-size: 14px;
    }
}

.announcement_price{
    font-size: 1.3rem;
    font-weight: 800;
}

@media (min-width: 280px) and (max-width: 500px){
    .announcement_price{
        font-size: 15px;
        font-weight: 800;
    }
}

.header__banner__calltoaction__link{
    color: var(--blue);
    font-weight: 600;
    padding-left: 1rem;  
}

@media (min-width: 280px) and (max-width: 500px){
    .header__banner__calltoaction__link{
        font-size: 0.9rem;
    }
}
@media (min-width: 280px) and (max-width: 500px){
    .header__banner__calltoaction__link{
        font-size: .8rem;
        padding: 0 .6rem;
        white-space: nowrap;
    }
}

.header__banner__calltoaction__link > a{
    align-items: center;
    color: inherit;
    display: flex;
    font-size: 1rem;
    font-weight: 700;
    justify-content: center;
    margin: .5em auto;
    text-decoration: none;
}

@media only screen and (min-width: 500px){
    .header__banner__calltoaction__link > a{
        line-height: 1em;
        margin-right: .5em;
        min-height: 37px;
        min-width: 98px;
        padding: 12px 1em;
        width: auto;
    }
}

.navbar__wrapper{
    background-color: transparent;
    bottom: 0;
    height: 5rem;
    left: 0;
    margin: 0 auto;
    max-width: 1920px;
    padding-top: 20px;
    position: relative;
    right: 0;
    top: 0;
    transition: background-color .5s;
    width: 100%;
    z-index: 10;
    background-color: aqua;
    
}

@media only screen and (min-width: 950px) and (max-width: 1449px){
    .navbar__wrapper{
        height: 4rem;
    }
}

@media only screen and (max-width: 349px), only screen and (min-width: 350px) and (max-width: 399px), only screen and (min-width: 400px) and (max-width: 549px), only screen and (min-width: 550px) and (max-width: 949px) {
    .navbar__wrapper{
        height: 45px;
    }
}


.navbar{
    align-items: flex-start;
    display: flex;
    flex-flow: row nowrap;
    height: auto;
    justify-content: flex-start;
    padding-top: .5rem;
    margin: 0 3.5rem;
    position: relative;
    background-color: bisque;
}

@media only screen and (min-width: 550px) and (max-width: 949px){
    .navbar{
        margin: 0 45px;
    }
}

@media only screen and (max-width: 349px), only screen and (min-width: 350px) and (max-width: 399px), only screen and (min-width: 400px) and (max-width: 549px){
    .navbar{
        margin: 0 5%;
    }
}

.navbar__logo__section > svg {
    margin-right: auto;
    line-height: normal;
    height: 40.26px;
    padding-top: 0;
    width: 133.99px;

}

@media only screen and (min-width: 950px) and (max-width: 1449px){
    .navbar__logo__section > svg {
        height: 2.25rem;
        width: 8.375rem
    }
}

@media only screen and (min-width: 550px) and (max-width: 949px){
    .navbar__logo__section > svg{
        height: 2rem;
        width: 6.75rem;
    }
}

@media only screen and (max-width: 349px), only screen and (min-width: 350px) and (max-width: 399px), only screen and (min-width: 400px) and (max-width: 549px){
    .navbar__logo__section > svg{
        height: 25px;
        width: 88.78px
    }
}

.navbar__selectors__button{
    position: absolute;
    right: 0;
    display: flex;
    
}

.lang_selector{
    margin: 0 0.75rem;
}

@media only screen and (min-width: 550px) and (max-width: 949px){
    .lang_selector{
        margin-right: 1.5rem;
        margin-left: 0.75rem;
    }
}

@media only screen and (min-width: 1450px), only screen and (min-width: 950px) and (max-width: 1449px){
    .lang_selector{
        margin-right: 2rem;
        margin-left: 0.75rem;
    }
}

.lang_selector > select{
    padding: 4px 22px;
    display: inline-block;
    border-radius: 2px;
    background: rgba(0,0,0,.4);
    border: 1px solid #aaa;
    color:var(--white);
    font-weight: 400;
    font-size: 0.875rem;
}

@media only screen and (min-width:550px){
    .lang_selector > select{
        padding: 8px 22px
    }
}

.navbar__login__button > button {
    padding: 4px 8px;
    font-size: .9rem;
    color: var(--white);
    background-color: var(--red);
    border:none;
    border-radius: 3px;
}
@media only screen and (min-width:550px){
    .navbar__login__button > button {
        padding: 7px 17px;
        font-size: 1rem;
        font-weight: 400;
    }
}