*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-color: #000000;
}
@font-face {
    font-family: "netflix";
    src: url(assets/NetflixSans-Regular.woff2);
}
.faq-container{
    display: flex;
    justify-content: center;
    font-family: "netflix";
    border: 1px solid white;
}
.faq{
    width: 900px;
    margin: 50px;
}
.box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 20px;
    background-color:#303030;
    color: #ffffff;
    height: 70px;
    font-size: 28px;
}
.right img{
    width: 35px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(80deg) brightness(101%) contrast(104%); 
}
.faq span{
    display: block;
    text-align: center;
    color: #ffffff;
    font-size: 50px;
    margin: 30px;
    font-weight: bold;
}
@media  screen and (max-width:1366px) {
    .faq span{
        font-size: 40px;
    }
    .box{
        font-size: 20px;
    }
}
